@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* font-family: 'Kumbh Sans', sans-serif; */

@keyframes fadein {
    0% {opacity:0};
    100% {opacity:1};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    overflow: hidden;
}

main {
    display:flex;
    height:65%;
    width:65%;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

section {
    height: 80%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article {
    height: 80%;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color:hsl(238, 29%, 16%);
}

button {
    background-color: white;
    border: none;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    color:hsl(237, 12%, 33%);
}

.imgcontainer {
    margin-left: -12%;
    height:100%;
    display: flex;
    align-items: center;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 150% cover;
}

.imgbox {
    position:absolute;
    top:360px;
    left:180px;
}

.faqcontainer {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

.faqaccordion {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.expanded h2 {
    font-weight:700;
    color:hsl(238, 29%, 16%);
}

.faqaccordion:hover h2{
    cursor: pointer;
    color:hsl(14, 88%, 65%);
}

.arrowrotate {
    transform: rotateX(180deg);
}

.faqexpand {
    display: none;
    animation: fadein;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    font-size:0.8rem;
    max-width: 500px;
    color:hsl(240, 6%, 50%);
}